[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/plugins/start/nord-vim"]
	path = pack/plugins/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/plugins/start/vim-airline-themes"]
	path = pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/plugins/start/splitjoin.vim"]
	path = pack/plugins/start/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "pack/plugins/start/tabular"]
	path = pack/plugins/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "pack/plugins/start/vim-markdown"]
	path = pack/plugins/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "pack/plugins/start/copilot.vim"]
	path = pack/plugins/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "pack/plugins/start/ctrlp.vim"]
	path = pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/plugins/start/dart-vim-plugin"]
	path = pack/plugins/start/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin.git
[submodule "pack/plugins/start/vim-yaml"]
	path = pack/plugins/start/vim-yaml
	url = https://github.com/stephpy/vim-yaml.git
[submodule "pack/plugins/start/indentLine"]
	path = pack/plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
